:root {
    --primary-color: #020214; /* Ubah main color atau background utama menjadi #020214 */
    --secondary-color: #1a1a1d;
    --text-color: #fff;
    --accent-color: #9fa1a7;
    --muted-text-color: #8b8e96;
    --highlight-color: #51555d;
    --box-shadow: rgba(0, 0, 0, 0.2);
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--primary-color); /* Background utama berubah menjadi #020214 */
    color: var(--text-color);
    overflow-x: hidden;
}

/* Tambahan untuk membatasi lebar maksimal */
.container {
    max-width: 1200px; /* Batasi lebar maksimal */
    margin: 0 auto; /* Pusatkan konten */
    padding: 0 20px; /* Tambahkan sedikit padding di kiri dan kanan */
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29293C;
    position: fixed;
    width: 561px;
    height: 64px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    z-index: 100;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0 12px;
    background-color: #29293C; /* Ubah warna dalam nav-links juga agar konsisten */
    border-radius: 50px;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    padding: 12px;
    border-radius: 50px;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-links a:hover {
    background-color: var(--highlight-color);
    color: #ffffff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.home-link {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.home-link:hover {
    background-color: #f0f0f0;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    background-color: var(--primary-color); /* Background hero section berubah menjadi #020214 */
    position: relative;
}

.hero-content {
    max-width: 50%;
    z-index: 1;
    text-align: left;
}

.hero-content h1 {
    font-size: 3rem;
    color: var(--accent-color);
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.hero-content h2 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 1.2;
    color: var(--text-color);
}

.hero-content h2 span {
    color: var(--highlight-color);
}

.hero-content p {
    font-size: 1.4rem;
    color: var(--accent-color);
    margin-bottom: 2.5rem;
    max-width: 550px;
}

.hero-content .btn {
    padding: 12px 25px;
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
}

.hero-content .btn:hover {
    background-color: #e6e6e6;
}

.hero-content .btn span {
    margin-left: 0.5rem;
}

.hero-cv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-cv-btn {
    padding: 12px 25px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.download-cv-btn:hover {
    background-color: #e6e6e6;
}

/* Work Experience Section */
.work-experience {
    padding: 0px 0px;
    background-color: var(--primary-color); /* Background work experience berubah menjadi #020214 */
    margin: 24px 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.work-experience h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--text-color);
}

.experience {
    background-color: var(--secondary-color);
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    position: relative;
    margin-bottom: 50px;
    display: block;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.experience h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.experience p {
    color: var(--muted-text-color);
    margin-bottom: 10px;
}

/* Timeline Styling */
.experience::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--text-color);
    position: absolute;
    left: -25px;
    top: 20px;
}

.experience::after {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(100% + 30px);
    background-color: var(--text-color);
    left: -19px;
    top: 40px;
}

.experience:last-child::after {
    display: none;
}

/* Card and Portfolio Item Styles */
.card, .portfolio-item {
    background-color: #040420; /* Ubah background color menjadi #040420 */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover, .portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px var(--box-shadow);
}

.card h3, .portfolio-item h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.card p, .portfolio-item p {
    color: var(--muted-text-color);
    line-height: 1.6;
}

/* Experience Cards and Portfolio Grid */
.experience-cards, .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 100px;
}

.card, .portfolio-item {
    flex: 1 1 calc(33.333% - 40px);
    max-width: 300px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .card, .portfolio-item {
        flex: 1 1 calc(50% - 40px); /* 2 kolom di layar menengah */
    }
}

@media (max-width: 768px) {
    .card, .portfolio-item {
        flex: 1 1 100%; /* 1 kolom di layar kecil */
    }
    .experience-cards, .portfolio-items {
        padding: 20px;
    }
}

/* Portfolio Section */
.portfolio {
    padding: 50px 100px;
    background-color: var(--primary-color); /* Background portfolio berubah menjadi #020214 */
}

.portfolio h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--text-color);
    text-align: center;
}

/* Portfolio Items Flexbox */
.portfolio-items {
    display: flex;
    flex-wrap: wrap; /* Agar item berbaris ke bawah jika tidak cukup ruang */
    justify-content: space-between; /* Memberikan jarak antara item */
    gap: 16px; /* Jarak antar item card */
    padding: 50px 0;
}

/* Set flex basis and max width for portfolio-item */
.portfolio-item {
    flex: 1 1 calc(33.333% - 16px); /* Mengatur ukuran card menjadi 1/3 dari container, kurangi jarak antar card */
    max-width: calc(33.333% - 16px); /* Menghindari card melebihi lebar maksimal */
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px var(--box-shadow);
}

/* Gambar thumbnail */
.portfolio-item img {
    width: 100%;
    height: 200px; /* Membuat tinggi tetap untuk gambar */
    object-fit: cover; /* Memastikan gambar tetap proporsional */
    margin-bottom: 16px; /* Jarak antara gambar dan konten di bawahnya */
    border-radius: 10px;
}

/* Title */
.portfolio-item h3 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* Deskripsi */
.portfolio-item p {
    color: var(--muted-text-color);
    font-size: 1rem;
    line-height: 1.6;
}

/* Project Detail Section */
.project-detail {
    padding: 50px 100px;
    background-color: var(--primary-color); /* Background project detail berubah menjadi #020214 */
    color: var(--text-color);
}

.project-header img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.project-header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.project-header p {
    color: var(--muted-text-color);
    font-size: 1.2rem;
}

.project-body {
    margin-top: 30px;
}

.project-body h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.project-body p {
    color: #d3d3d3;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Article Section */
.articles {
    padding: 50px 100px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
}

.articles h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.article-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 100px;
}

.article-item {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 300px;
    flex: 1 1 calc(33.333% - 40px);
}

.article-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px var(--box-shadow);
}

.article-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 10px;
}

.article-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.article-item p {
    color: var(--muted-text-color);
    margin-bottom: 10px;
    line-height: 1.6;
}

.article-item .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.article-item .read-more:hover {
    background-color: #e6e6e6;
}